<div class="playerWrap">
  <div class="tagline">
    <div class="tagline1"><p>Let the music speaks!!</p></div>
    <div class="tagline2">Where words fail, Music speaks</div>
  </div>

  <div class="languages">
    <div class="eng" [routerLink]="['playlist']" [queryParams]="{ page: 99 }">
      <img src="../assets/english.svg" class="img_eng">
      <h3><p>English</p></h3>
    </div>

    <div class="hindi"  [routerLink]="['playlist']" [queryParams]="{ page: 100 }">
      <img src="../assets/hindi.svg" class="img_hindi">
      <h3><p>Hindi</p></h3>
    </div>

  </div>
</div>